@{
    ViewData["Title"] = "Calculator Page";
}

<div id="calculatorApp">
    <h1>Type 2 numbers and choose operation</h1>
    <form class="form-inline">
        <input type="text" v-model.number="num1" class="form-control" id="num1" value="" />
        <select v-model="operator" class="form-control">
            <option>+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
        </select>
        <input type="text" v-model.number="num2" class="form-control" id="num2" value="" />
        <button class="btn btn-primary" type="submit" @@click="calculate">Calculate</button>
    </form>
    <h2>Result: {{num1}} {{operator}} {{num2}} = {{result}}</h2>
<pre>
    {{$data}}
</pre>
</div>
@section scripts{
    <environment names="Development">
        <script src="~/js/Vuew/Calculator.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/Vuew/Calculator.min.js" asp-append-version="true"></script>
    </environment>
}