@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

Index action from Home Controller
@ViewBag.Greeting

<div class="text-center">
    <h3>We are going to have an exciting party!</h3>
    <h4>And you are invited</h4>
    <a class="btn btn-primary" asp-action="RsvpForm">Rsvp now</a>
</div>
