@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

Index action from Home Controller
@ViewBag.Greeting

<p>we are going ot have an exciting party.<br />
To do: sell it better. Add pictures or something</p>
<a asp-action="RsvpForm">Rsvp now</a>