@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model PartyInvites.Models.GuestResponse

@{
}
<div class="panel panel-success">
    <div class="panel-heading text-center">
        <h4>RSVP</h4>
    </div>
    <div class="panel-body">
        <form class="p-a-1" asp-action="RsvpForm" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Name">Your name:</label>
                <input class="form-control" asp-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="Email">Your email:</label>
                <input class="form-control" asp-for="Email" />
            </div>
            <div class="form-group">
                <label asp-for="Phone">Your phone:</label>
                <input class="form-control" asp-for="Phone" />
            </div>
            <div class="form-group">
                <label>Will you attend ?</label>
                <select class="form-control" asp-for="WillAttend">
                    <option value="">Choose an option</option>
                    <option value="true">Yes, I'll be there</option>
                    <option value="false">No, I can't come</option>
                </select>
            </div>
            <div class="text-center">
                <input class="btn btn-primary" type="submit" name="Submit" value="Submit Rsvp" />
            </div>
        </form>
    </div>
</div>
