@model IEnumerable<AzureCoreOne.Models.ProBook.Product>
@{
    ViewData["Title"] = "Many Page";
}

<h3>Products</h3>
<table>
    <thead>
        <tr><td>Name</td><td>Price</td></tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@($"{p.Price:C2}")</td>
            </tr>
        }
    </tbody>
</table>