<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="QueueConnection" value="amqp://soyfwwle:XY73Y425l_aQpAKobRux46XabhbdgjLf@white-mynah-bird.rmq.cloudamqp.com/soyfwwle"/>
  </appSettings>
</configuration>
